* {
    margin: 0;
}

body {
    background: whitesmoke;
}

header {
    background: linear-gradient(135deg, rgba(199, 212, 236, 1) 0%, rgba(150, 189, 208, 1) 29%, rgba(172, 194, 213, 1) 48%, rgba(164, 206, 226, 1) 69%, rgba(199, 212, 236, 1) 94%);
    height: 22vh;
    width: 100%;
}

#headercontainer {
    color: #212529d1;
    padding-top: 1%;
    padding-left: 2%;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 3vh;
}

.navbar {
    width: 98%;
    margin: 1%;
    height: 7vh;
    display: flex;
    align-items: center;
}

.button {
    margin-inline-end: 1.7%;
    background-color: #d83865;
    color: white;
    text-decoration: none;
    font-size: 2.2vh;
    height: 4.6vh;
    border: transparent;
    border-radius: 0.2em;
}

.mbutton {
    display: none;
}

.button a {
    padding: 1vh;
    text-decoration: none;
    color: white;
}

.logo {
    float: right;
    position: relative;
    top: -26vh;
    right: 5vw;
}

#logo {
    width: 12vw;
}

.main {
    margin: 0% 2% 2%;
    width: 98%;
    position: relative;
    top: -15vh;
    overflow: overlay;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 1.2em;
    text-align: left;
    color: #1b3762;
}

.main h3 {
    padding-left: 1vw;
}

.bottom {
    margin: 1%;
    width: 98%;
    height: 30VH;
    background-color: rgba(163, 160, 161, 0.185);
    overflow-y: scroll;
}

.card {
    text-decoration: none;
    margin-top: .5%;
    display: inline-block;
    width: 8%;
    background-color: rgb(245, 245, 245);
    height: 92%;
    text-align: center;
    overflow: hidden;
    margin-inline-start: 2%;
    color: rgb(0, 0, 0);
    border: 0.1mm black solid;
    border-radius: 0.3em;
    font-family: 'Sansita', sans-serif;
    font-weight: lighter;
    font-size: 0.7rem;
}

.card a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.imgcard {
    margin: 2%;
    width: 96%;
    height: 77%;
    background-color: darkgrey;
}

.imgcard img {
    width: 100%;
    height: 100%;
}

.card:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    color: white;
    background-color: rgb(192, 192, 192);
}

@media screen and (max-width: 1040px) {
    .main {
        position: inherit;
    }
    .card {
        width: 19%;
        margin-inline-start: 4%;
        margin-top: 1%;
    }
    .imgcard {
        height: 81%;
    }
    .logo {
        float: right;
        position: relative;
        top: -12vh;
        right: 6vw;
    }
    #logo {
        width: 17vw;
    }
    .bottom {
        height: 26vh;
    }
}

@media screen and (max-width: 650px) {
    header {
        height: 9vh;
    }
    #headercontainer {
        display: none;
    }
    .navbar {
        display: none;
    }
    .mbutton {
        display: inline;
    }
    #logo {
        width: 21vw;
        position: relative;
        top: 0vh;
        right: 0vw;
    }
    .logo {
        float: right;
        position: relative;
        top: -7vh;
        right: 6vw;
        overflow: inherit;
    }
    .button1 {
        background-color: #9ab5e500;
        border: none;
        margin-inline-start: 2%;
        margin-top: 5%;
        font-size: 2.4vh;
        font-family: 'Allerta Stencil', sans-serif;
    }
    .button1 a:hover {
        color: white;
        -ms-transform: scale(1.7);
        /* IE 9 */
        -webkit-transform: scale(1.7);
        /* Safari 3-8 */
        transform: scale(1.7)
    }
    .button1 a {
        font-size: 1.4em;
        text-decoration: none;
        color: #1b3762;
        font-family: 'Allerta Stencil', sans-serif;
    }
    .main {
        position: inherit;
    }
    .bottom {
        width: 96%;
    }
    .card {
        margin-top: 1.5%;
        width: 30%;
        margin-inline-start: 0.5%;
        font-size: .6rem;
    }
}